<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cloud File Storage</title>
</head>
<body>
  <h2>Welcome to the Cloud File Storage App!</h2>
  <hr/>

  <p>This app allows you to:</p>
  <ul>
    <li>Create folders and nested subfolders</li>
    <li>Navigate between folders</li>
    <li>Upload files to specific folders</li>
    <li>View different versions of the same file</li>
    <li>Download files</li>
    <li>Delete files</li>
    <li>Generate signed URLs (temporary public links)</li>
    <li>Share files and revoke access when needed</li>
  </ul>

  <section>To start using the app, please log in. 
    <a href="/api/auth/login">Login</a>
  </section>
  <br/>

  <section>Click below to explore the app: 
    <a href="/api/folders">Go to the App</a>
  </section>
  
</body>
</html>
